.kaufman__triangle {
    background-image: url('../../../images/kaufman-triangle.svg');
    position: absolute;
    right: -210px;
    width: 877px;
    height: 877px;
    z-index: 0;
    background-size: contain;
  }