@keyframes rotation {
  from {
    transofrm: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
   }
}



.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #F2F2F2; 
  overflow: hidden;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
}

.header__title {
  line-height: 96px;
  font-size: 102px;
  font-weight: bold;
  z-index: 3;
  width: 730px;
  margin: 0 0 0 64px;
}

.header__subtitle {
  position: absolute;
  left: 64px;
  bottom: 30px;
  width: 388px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2F80ED;
  transition: .2s linear;
  opacity: 1;
}

.header__link:hover {
  transition: .3s linear;
  opacity: .5;
}

.header__main-illustration {
  position: absolute;
  bottom: 0px;
  right: 0px;
  z-index: 1;
  height: 608px;
  width: 765px;
  object-fit: cover; 
}


.header__square-pic {
  height: 568px;
  width: 568px;
  position: absolute;
  background-color: #2f80ed;
  top: 64px;
  right: 0px;
  animation: rotation 20s linear infinite;
}

.description {
  display: flex;
  justify-content: center;
  padding-top: 100px;
}

.two-columns {
  display: flex;
  width: 80%;
  justify-content: space-between;
}

.two-columns__brief {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  width: 175px;
  color: #2f80ed;
  margin: 0;
}

.brief__link {
  text-decoration: none;
  color: #2f80ed;
}

.two-columns__main-text {
  margin: 0;
  width: 80%;
  min-width: 784px;
}

.two-columns__paragraph {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 30px 0;
} 

.two-columns__paragraph:last-of-type {
  margin: 0;
}

.two-columns__span-accent {
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}

.techniques {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.cards {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.cards__item {
  margin: 60px 50px 0;
  width: 240px;  
}

.cards__image {
  width: 160px;
  height: 160px;
  margin: 0 40px 43px 40px;
  border-radius: 50%;
}

.cards__title {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  text-align: center;
  padding-bottom: 16px;
}

.cards__description {
  margin: 0;
  line-height: 23px;
  font-size: 18px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}


.video {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video__iframes {
  transform: translate(0, 60px);
}

.video__iframe {
  margin: 10px;
}


.oakley {
  display: flex;
  justify-content: center;
  background-color: #f2f2f2;
  padding-top: 160px;
}

.digits {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  text-align: center;
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  width: 60%;
  margin: 0;
  padding-top: 100px;
}

.section-subtitle {
  text-align: center;
  justify-content: center;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
  margin: 0;
  padding-top: 20px;
}

.table {
  display: flex;
  flex-wrap: wrap;
  width: 1100px;
  justify-content: space-between;
  padding-bottom: 100px;
  list-style: none;
  margin: 0;
}

.table__cell {
  width: 250px;
  margin-top: 60px;
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin: 20px 0 0 0;
}

.khan {
  background-color: #f2f2f2;
  padding-top: 105px;
}

.khan__container {
  width: 80%;
  margin: 0 auto;
}

.khan__author {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
}

.khan__title {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  margin: 0;
}

.khan__quote {
  width: 790px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  margin: 50px 0 36px;
}

.khan__quote-author {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0 0 10px;
}

.khan__quote-author-subline {
  line-height: 1.15;
  font-size: 24px;
  font-weight: normal;
  margin: 0 0 68px;
}

.khan__book-container {
  display: flex;
  flex-direction: row;
}

.khan__buy-link {
  display: flex;
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  text-decoration: none;
  color: #2f80ed;
  margin: 0 0 0 48px;
  transition: .2s linear;
  opacity: 1;
}

.khan__buy-link:hover {
  transition: .3s linear;
  opacity: .5;
}

.khan__book-pic {
  width: 608px;
  height: 620px;
  object-fit: cover;
  object-position: top;
}

.feynman {
  position: relative;
  min-height: 890px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
}

.feynman__title {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  width: 648px;
  text-align: center;
  margin: 0;
  padding-top: 80px;
  z-index: 3;
}

.feynman__subtitle {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  margin: 0;
  padding-top: 70px;
  z-index: 2;
}

.feynman__link {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  position: absolute;
  right: 48px;
  top: 50%;
  text-decoration: none;
  color: #2f80ed;
  transition: .2s linear;
  opacity: 1;
}

.feynman__link:hover {
  transition: .3s linear;
  opacity: .5;
}

.feynman__photo {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 867px;
  height: 637px;
}

.kaufman {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  position: relative;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  width: 60%;
  line-height: 1.15;
  font-size: 60px;
  padding-top: 90px;
  z-index: 4;
}

.section-subtitle_theme_dark {
  color: white;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  z-index: 3;
}

.table__heading_theme_dark{
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.table_theme_dark {
  z-index: 2;
  padding-bottom: 90px;
}


.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.kaufman__triangle {
  background-image: url('../images/kaufman-triangle.svg');
  position: absolute;
  right: -210px;
  width: 877px;
  height: 877px;
  z-index: 0;
  background-size: contain;
  animation: rotation 20s linear infinite;
}

.resources {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resources__logo-zone {
  width: 1100px;
  margin: 80px 0 217px 0;
  display: flex;
  justify-content: space-between;
}

.resources__logo {
  width: 270px;
  height: 38px;
  transition: .2s linear;
  opacity: 1;
}

.resources__logo:hover {
  transition: .3s linear;
  opacity: .5;
}

  .footer {
  background-color: #1f1f1f;
  min-height: 350px;
}

.footer__columns {
  display: flex;
  padding-top: 60px;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  min-height: 250px;
}

.logo_place_footer {
  height: 35px;
  width: 183px;
}

.footer__author {
  color: white;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.footer__column_content_copyright {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex-basis: 711px;
}


.footer__column-heading {
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px;
}

  
.footer__column-links {
  display: flex;
  flex-direction: column;
  color: white;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  margin-bottom: 16px;
}
  
  
.footer__column-link {
  display: flex;
  color: white;
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  align-items: center;
  transition: .2s linear;
  opacity: 1;
}

.footer__column-link:hover {
  transition: .3s linear;
  opacity: .5;
}

.footer__social-icon {
  height: 16px;
  width: 16px;
  margin: 0 10px 0 0;
  background-position: cover;
  background-repeat: no-repeat;
}